.error-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 5, 40), rgb(3,37,126));
}

.error-page-container h1 {
    color: white;
    padding: 20px 40px 20px 40px;
    margin: 0px;
    text-align: center;
    font-size: 5vw;
    font-family: 'Roboto Mono', monospace;
    border: 2px solid white;
    border-radius: 150px;
}