.header-container {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

.header-canvas {
    background-image: linear-gradient(rgb(0, 5, 40), rgb(0, 20, 64));
}

.shooting-star {
    position: absolute;
    background-color: rgb(254, 234, 0);
    border-radius: 50%;
    width: 7px;
    height: 7px;
}

.header-text {
    position: absolute;
    font-size: 5rem;
    margin: auto;
    color: white;
    background-color: rgba(118, 146, 255, 0.25);
    border-radius: 15px;
    padding: 10px 40px 10px 40px;
    z-index: 1;
  }