@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;600&family=Roboto+Mono:wght@200&display=swap');

body,p {margin:0} /*Overrides any broswer default styles*/

body, html {
    width: 100vw;
}

#root {
    position: absolute;
    overflow: hidden;
}

.section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container {
    display: flex;
    position: relative;
    align-self: start;
    width: 300px;
    align-items: center;
    justify-content: center;
}

.section-title {
    text-align: center;
    margin: 0px;
    padding: 10px;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.7em;
    font-weight: lighter;
    white-space: nowrap;
}

.title-border {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 4em;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 35px;
    transition: ease-in-out width 0.5s, visibility 0.5s;
    background-color: rgba(0, 0, 0, 0.2);
    transition-delay: 1s;
    box-sizing: border-box;
}

a {
    color: rgb(254, 234, 0);
}

.tooltip-button {
    display: flex;
    position:relative;
    justify-content: center;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    top: 60px;
    white-space: nowrap;
    z-index: 1;
    border-radius: 30px;
    background-color: black;
    opacity: 0;
    color: white;
    padding: 10px;
    transition: linear opacity 0.2s;
}

.tooltip-button > button:hover ~ .tooltip {
    visibility: visible;
    opacity: 0.75;
}

@media only screen and (max-width: 800px) {
    .section-container {
        margin-top: 40px;
    }
}